
        body{
            margin: 0;
            padding: 0;
        }

        h2 > span {
            color: red;
            font-size: 25px;
        }

        h2{
            font-size: 20px;
        }


        
.mid-hadding{
    text-align: center;
    margin: auto;
    font-size: 30px;
    margin-bottom: -28px;
    color: navy;
    /* margin-bottom: -15px; */
    /* margin-top: 25px; */
}



        #top{
            display: flex;
            border: 2px solid black;   
        }

        #top > div{
            display: flex;
            position: relative;
            /* height: var(--pencilBannerHeight); */
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;

        } 

        marquee{
            display: block;
            width: 100%;
            background-color: #ff0;
        } 

        .nav{
            width: 100%;
            height: 38px;
            display: flex;
            /* border: 2px solid black;        */
            background: rgb(236, 251, 255);
            justify-content: space-between;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        }


        .store{
            /* background-color; */
            width: 800px;
            display: flex;
            align-items: center;
            justify-content: end;
        }

        .store > a > div{
            
            width: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
            /* justify-content: space-around; */
        }

        .store > a > div > img{
            width: 23px;
            height: 23px;
        }

        .store > a{
            text-decoration: none;
            /* background-color: #ff0; */
        }

        .store > a > div > p > span{
            font-size: 17px;
            font-weight: bold;
        }

#logo {
    padding-left: 25px;
    width: 80px;
    height: 35px;
    color: #ff0;
}


.nav2{
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    justify-content: space-between;
    width: 100%;
    height: 70px;
    /* border: 1px solid black; */
    /* background-color: rgb(213, 235, 247); */
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

#nav2-box1{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid black; */
}

#nav2-box1>a:nth-child(1){
text-decoration: none;
font-size: 25px;
color: rgb(32, 32, 255);
}

#nav2-box2{
    padding-right: 10px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid black; */
}

#nav2-box2 > a{
    text-decoration: none;
}

#nav2-box2 > a > span{
    font-size: 25px;
    font-weight: bold;
}

#nav2-box2 > a > span:hover{
    color: rgb(13, 13, 97);
    text-decoration: underline;
}

.nav2 > a > img{
    width: 175px;
    height: 65px;
}


#nav2-box1>a>img{
    width: 120px;
}
  
#nav2-box2>a>img{
    width: 45px;
    height: 45px;
    /* background-color: rgb(213, 235, 247); */
}
  
.nav2 > input{
    text-align: center;
    width: 800px;
    height: 40px;
    /* border: none; */
    border-radius: 40px;
    border-color: rgb(227, 215, 215);
    font-size: 18px;
}


#pro-det{
    box-sizing: border-box;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: rgb(231, 238, 242);
}

#pro-det > a{
text-decoration: none;
color: rgb(49, 47, 47);
} 

#pro-det >:hover{
    color: blueviolet;
    text-decoration: underline;
}




main > div:nth-child(1){
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
    /* height: 90vh; */
}

main :nth-child(2){
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
}

.select{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    justify-content: space-around;
    margin: auto;
    /* padding-left: 42px; */
    /* border: 1px solid black; */
}

.select > div{
    width: 32%;
    line-height: 5px;
}

.select > div > a > img {
width: 100%;
}

.select > div > a{
    text-decoration: none;
}

.select > div > a :hover{
    text-decoration: underline;
    color: blue;
}





#spotlight{
    display: flex;
    width: 94%;
    justify-content: space-between;
    margin: auto;
}

#spotlight > div{
width: 23.8%;
}

#spotlight > div > a{
    text-decoration: none;
}

#spotlight > div > a :hover{
    text-decoration: underline;
}

#spotlight > div > a > img{
    width: 100%;
}

#spotlight > div > a > div{
    display: block;
    font-size: 18px;
    line-height: 25px;
    width: 90%;
    padding: 0px 8px 0px 8px;
}

#spotlight > div > a > div > h3 > span {
    color: red;
}

#spotlight > div > a > div > h3{
    width: 100%;
    font-family: 'Big Shoulders Stencil Text', cursive;
    font-family: 'IBM Plex Serif', serif;
    font-family: 'Source Sans Pro', sans-serif;
}

#spotlight > div > a > div > p{
    color: rgb(84, 78, 78);
    font-size: 16px;
    font-family: 'Big Shoulders Stencil Text', cursive;
    font-family: 'IBM Plex Serif', serif;
    font-family: 'Source Sans Pro', sans-serif;
}

.offers{
    width: 95%;
    padding-left: 40px;
    margin: auto;
    display: block;;
    padding-top: 40px;
}



.home{
    display: flex;
    width: 93%;
    justify-content: space-between;
    margin: auto;

}

.home > div > a > div > h3> span {
    color: red;
}

.home > div > a > img{
    width: 100%;
}

.home > div > a{
    text-decoration: none;
}

.home > div > a:hover{
text-decoration: underline;
}

.home > div{
    width: 23%;
}






.tea {
    display: flex;
    width: 93%;
    justify-content: space-between;
    margin: auto;
}

.tea > div{
    width: 49%;
    /* border: 1px solid; */
}

.tea > div > a > img{
    width: 100%;
}

.tea >  div > a{
    text-decoration: none;
}

.tea  > div > a:hover{
    text-decoration: underline;
}

.shop{
    /* align-items: center; */
    margin: auto;
    width: 93%;
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

.shop > div{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        align-items: center;
}

.shop > div > a{
    text-decoration: none;
    color: rgb(95, 87, 87);
    font-size: 17px;
}

.shop > div > a:hover{
    text-decoration: underline;
    text-decoration-color: blue;
}

.shop > div > a > img{
    display: block;
    margin: auto;
width: 80%;
}
